*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: 'Montserrat', sans-serif;
}

.navbar img{
    width:60px;
}

.left{
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right{
    margin-left: 50vw;
}

.nav-color{
    background-color: #3f4850ff;
}

.nav-color a{
    color: white;
}

.nav-tengah{
    margin: 0px 100px;
}

.carousel-item img{
      /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(5px); */
}

.right{
    float: right;
}

/* .carousel-caption h1{
    font-weight: 900;
} */

/* .teks-2{
    margin-top: 50px;
} */

.judul{
    text-align: center;
    font-weight: bold;
}

.teks p{
    text-align: justify;
    margin: 20px;
}

h5{
    font-weight: bold;
}

.bg{
    background-color: #3f4850ff;
    width: 100%;
    height: auto;
}

.center{
    text-align: center;
}

.teks-2{
    color: white;
    margin: 0 20px;
    /* padding-top: 50px; */
}

.teks-2 h1{
    color: #f1d51bff;
}

.tema p{
    /* padding-bottom: 1px; */
}

/* KEYNOTE SPEKAER */
.bg-3{
    /* background-color: bisque; */
    width: 100%;
    height: auto;
}

.part-3{
    /* padding-top: 50px; */
    margin: 0 20px;
}

.keynote-speaker h1{
    /* line-height: 200px; */
    color: #f1d51bff;
    font-weight: bold;
    
}

.speaker li{
    margin-bottom: 10px;
}

/* PURPOSE, TARGETS, PARTICIPANT, OUTPUT */
.bg-4{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}

.container{
    padding-top: 40px;
    padding-bottom: 40px;
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

#menu a:hover{
    color: rgb(86, 99, 110);
}

#menu li{
    margin-bottom: 20px;
}

.line{
    border-bottom: 5px solid #f1d51bff;
    width: 40px;
    transition: width 0.3s;
    transition-timing-function: linear;
}

.line:hover{
    width: 80px;
}

#menu li.active{
    width: 80px;
}

.pages{
    text-align: justify;
    line-height: 150%;
}

.linee{
    border-bottom: 3px solid rgb(187, 187, 187);
    width: 100%;
    margin: 0px;
}

/* COMMMITEE */
.teks-3{
    text-align: justify;
    margin: 0 10px;
}

.bg-6{
    background-color: #3f4850ff;
    width: 100%;
    height: 100px;    
}

#cp{
    color: #f1d51bff;
    text-align: right;
}

.logo{
    margin-top: 20px;
}

.logo img{
    width: 50px;
}

.logo p{
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 5px;
}

.organizer{
    margin-bottom: 20px;
}

.bg-7{
    background-color: rgb(255, 249, 242);
}

#judul{
    font-weight: 700;   
    border-bottom: 2px solid black;
    /* margin-right: 20px; */
    margin-bottom: 20px;
}

.judull h1{
    color: #f1d51bff;
    font-weight: bold;
}

.container-btn{
    margin: 0px 100px;
    line-height: 100px;
}

/* .logo{
    display: flex;
} */
@media screen and (max-width: 958px) {
    #logo img{
        display: none;
    }

    .right{
        margin: 0;
    }
}

@media screen and (max-width: 578px) {

    .judull h1{
       text-align: center;
    }
    #menu li{
        display: inline;
    }
    #menu a{
        font-size: 17px;
        margin-right: 10px;
    }
    #menu{
        text-align: center;
    }
    #menu a:hover{
        color: #f1d51bff;
    }
    .clr{
        color: black;   
    }
    #menu a.active{
        color: #f1d51bff;
    }
    .line{
        border-bottom: 0;
    }
}

#content{
    margin: 0 30px;    
}

#content-2{
    margin: 0 10px;
}
